body {
    margin: 0px;
    overflow: hidden;
    color: white;
    user-select: none;
    font-family: 'Lato';
}

#map {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#input-container {
    width: 560px !important;
    height: 120px !important;
    background: black;
    z-index: 2;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    border-top-right-radius: 50px;
}

.input-search {
    width: 400px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#search {
    position: absolute;
    right: 40px;
    color: white;
}

#config-display-button {
    position: absolute;
    z-index: 2;
    right: 20px;
    top: 20px;
    color: white;
}

#config-display-button i {
    transition: transform 0.3s;
    cursor: pointer;
}

#config-display-button.active i {
    transform: rotate(45deg);
}

#search {
    cursor: pointer;
}

.oreja {
    position: absolute;
    right: 0px;
    top: 9px;
    width: 83px;
    height: 50px;
    background: black;
    z-index: 1;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#config-display {
    position: absolute;
    right: -400px;
    top: 0px;
    width: 400px;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 25px;
    padding: 30px;
}

.option-list {
    margin-top: 50px;
    margin-left: 50px;
}

.option-list>.element {
    cursor: pointer;
    margin-bottom: 20px;
}

.option-list>.element:hover {
    animation-name: hover-list-element;
    font-weight: bold;
}

.option-list>.element:not(:hover) {
    animation-name: not-hover-list-element;
    font-weight: normal;
}

#cuenta {
    color: white;
    background: black;
    width: 500px !important;
}

#cuenta>div {
    color: white;
    background: black;
}

#cuenta>div.content {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#cuenta>.content>.elements>.element {
    display: flex;
    font-size: 25px;
    margin-bottom: 25px;
}

#changePass {
    margin-left: 10px;
}

#cuenta>i {
    position: absolute;
    right: 7px;
    top: 13px;
}

#modal-changepass>div {
    color: white;
    background: black;
}

#modal-changepass>.content>div>.field>label {
    color: white;
}

#modal-planes>div {
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separador {
    width: 90%;
    height: 5px;
    background: white;
}

.premium-pack {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.premium-pack>ul {
    text-align: justify;
}

.basic-pack {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#modal-planes>i {
    position: absolute;
    right: 7px;
    top: 13px;
}

.basic-pack>ul {
    text-align: justify;
}

@keyframes hover-list-element {
    100% {
        font-size: bold;
    }
}
@keyframes not-hover-list-element {
    100% {
        font-size: normal;
    }
}
.leaflet-top.leaflet-right {
    top: 80px;
    color: black;
}