<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
        
    <link rel="stylesheet" href="{% static "main.css" %}">
    <title>Hacktivistas Belicos</title>
</head>
<body>
    <div id="map"></div>
    <div id="input-container">
        <div class="ui left icon input input-search">
            <input id="input-salida" type="text" placeholder="Search users...">
            <i class="map marker alternate icon black"></i>
        </div>
        <div class="ui left icon input input-search">
            <input id="input-destino" type="text" placeholder="Search users...">
            <i class="road icon black"></i>
        </div>
                    

        <div id="search">
            <i class="big paper plane icon"></i>
        </div>
    </div>
    <div class="oreja"></div>
    <div id="config-display">
        <div>Menú</div>
        <div class="option-list">
            <div class="element cuenta">Cuenta</div>
            <div class="element premium">Adquiere Premium 👑</div>
            <div class="element soporte">Soporte</div>
            <div class="element logout">Cerrar Sesión</div>
        </div>
    </div>
    <div id="config-display-button">
        <i class="big bars icon"></i>
    </div>
    <div id="cuenta" class="ui modal">
        <i class="close icon"></i>
        <div class="header">Mi Cuenta</div>
        <div class="content">
            <div class="elements">
                <div class="element">
                    Correo: erubiodev@gmail.com
                </div>
                <div class="element">
                    Contraseña: ********
                </div>
                <div class="element">
                    Suscripción: Basica
                </div>
            </div>
            <div class="ui inline buttons">
                <div id="changePass" class="boton ui button center">
                    Cambiar Contraseña
                </div>
            </div>
        </div>
    </div>
    <div id="modal-changepass" class="ui mini modal">
        <div class="header">Cambiar Contraseña</div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Contraseña:</label>
                    <input type="text" name="first-name" placeholder="Contraseña...">
                </div>
                <div class="field">
                    <label>Nueva Contraseña</label>
                    <input type="text" name="last-name" placeholder="Nueva Contraseña...">
                </div>
                <button class="ui button center">Confirmar</button>
                <button id="cancelar-changepass" class="ui button center">Cancelar</button>
            </div>              
        </div>
    </div>
    <div id="modal-planes" class="ui mini modal">
        <i class="close icon"></i>
        <div class="content">
            <div class="premium-pack">
                <h1>
                    👑<br>
                    Plan Premium
                </h1>
                <h3>
                    Acceso a nuevas funcionalidades:
                </h3>
                <ul>
                    <li>
                        Predicción de choques mas precisas
                    </li>
                    <li>
                        Se tomará en cuenta el modelo de tu auto
                    </li>
                    <li>
                        Planea tus rutas con días de anticipación
                    </li>
                    <li>
                        Más rutas alternativas
                    </li>
                </ul>
            </div> <br>
            <div class="separador"></div>
            <br>
            <div class="basic-pack">
                <h2>
                    Plan Básico
                </h2>
                <h4>
                    Acceso funcionalidades básicas:
                </h4>
                <ul>
                    <li>
                        Predicción de choque general
                    </li>
                    <li>
                        Dos rutas diferentes (tiempo/riesgo)
                    </li>
                    <li>
                        Reporte rápido de accidentes de transito
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    
    <script type="text/javascript" src="{% static "map.js" %}"></script>
    <script type="text/javascript" src="{% static "animate.js" %}"></script>
</body>
</html>
